.lineWrapper{
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
}

.unhighlight{
	opacity: 0.5;
}

.highlight{
	opacity: 0.8;
}

.switchView{
	width: 300px;
	padding-left: 3em;
	/* padding-top: 5em; */
	float: left;
}

#map-img{
	position: absolute;
	z-index: 0;
	left: 30px;
	opacity: 0.5;
}

#map-plots{
	position: absolute;
	z-index: 1;
	left: 30px;
}

#side-view{
	margin-left: 1050px;
}

