.lineWrapper{
	margin-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: start;
}

.unhighlight{
	opacity: 0.5;
}

.highlight{
	opacity: 0.8;
}

.routeView{
	width: 300px;
	padding-left: 37em;
	padding-top: 0em;
	float: left;
	font-size: 20pt;
}

.routeView #route-toggle-event{
	/* font-size: 110%; */
	transform: scale(3);
}

.routeView .route-button-label{
	font-size: 25pt;
	padding-bottom: 2em;
}

#map-img{
	position: absolute;
	z-index: 0;
	left: 30px;
	opacity: 0.5;
}

#map-plots{
	position: absolute;
	z-index: 1;
	left: 30px;
}

#side-view{
	margin-left: 1050px;
}

